# Option 1: Authenticate without IMS
#COMMERCE_CONSUMER_KEY=
#COMMERCE_CONSUMER_SECRET=
#COMMERCE_ACCESS_TOKEN=
#COMMERCE_ACCESS_TOKEN_SECRET=

# Option 2: Authenticate with IMS
# OAuth configs
# The following values can be copied from the Credential details page in AppBuilder under Organization > Project > Workspace > OAuth Server-to-Server
# To configure Commerce instance to allow this creds please follow https://developer.adobe.com/commerce/extensibility/starter-kit/checkout/connect/
# Note OAUTH_CLIENT_SECRETS and OAUTH_SCOPES should be arrays
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRETS=[""]
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_SCOPES=[""]
OAUTH_IMS_ORG_ID=

# Contains the mapping of the event provider metadata and the provider id
#AIO_EVENTS_PROVIDERMETADATA_TO_PROVIDER_MAPPING=

# Environment for AIO: stage or prod (default)
#AIO_CLI_ENV=

# General Commerce Configuration
# Commerce REST endpoint should finish with slash '/'
# Examples:
# - Commerce Admin REST endpoints: https://{commerce_instance_url}/rest/{store_view_code}/
# - Adobe Commerce Cloud as a Service: https://na1.api.commerce.adobe.com/{tenant_code}/
COMMERCE_BASE_URL=

# Commerce Event Module configs
# These values will be used to configure the Adobe I/O Events module automatically
# that can be found at Stores > Configuration > Adobe Services > Adobe I/O Events > Commerce events
COMMERCE_ADOBE_IO_EVENTS_MERCHANT_ID=
COMMERCE_ADOBE_IO_EVENTS_ENVIRONMENT_ID=

# Pre app-deploy hook setting
#DEPLOY_WEBHOOK_ACTIONS

# Dotdigital API configs
DOTDIGITAL_API_URL=https://r1-api.dotdigital.com
DOTDIGITAL_API_USER=
DOTDIGITAL_API_PASSWORD=
DOTDIGITAL_LIST_CUSTOMER=
DOTDIGITAL_LIST_SUBSCRIBER=
DOTDIGITAL_CATALOG_COLLECTION_NAME=
DOTDIGITAL_DATAFIELD_MAPPING={"CUSTOMER_ID": "id", "FIRSTNAME": "firstname", "LASTNAME": "lastname", "ACCOUNT_CREATED_DATE": "created_at", "CUSTOMER_GROUP": "group_id", "STORE_NAME": "store_name", "WEBSITE_NAME": "website_name", "DOB": "dob", "GENDER": "gender", "BILLING_ADDRESS_1": "billing_address.street.0", "BILLING_ADDRESS_2": "billing_address.street.1", "BILLING_CITY": "billing_address.city", "BILLING_COUNTRY": "billing_address.country_id", "BILLING_POSTCODE": "billing_address.postcode", "BILLING_TELEPHONE": "billing_address.telephone", "DELIVERY_ADDRESS_1": "shipping_address.street.0", "DELIVERY_ADDRESS_2": "shipping_address.street.1", "DELIVERY_CITY": "shipping_address.city", "DELIVERY_COUNTRY": "shipping_address.country_id", "DELIVERY_POSTCODE": "shipping_address.postcode", "DELIVERY_TELEPHONE": "shipping_address.telephone", "SUBSCRIBER_STATUS": "extension_attributes.is_subscribed"}
